<div class="flex-container">
  <button mat-button class="small-box mat-elevation-z3" style="background-color:#FF9900">
    <img class="img60" src="../../assets/store-icons/amazon_logo.svg" /><br />Amazon.in
  </button>
  <button mat-button class="small-box mat-elevation-z3" style="background-color:#F8E831">
    <img class="img60" src="../../assets/store-icons/flipkart.png" /><br />Flipkart
  </button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites 3</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites 90</button>
  <button mat-button class="small-box mat-elevation-z3"><mat-icon>motorcycle</mat-icon><br />Popular Sites 100</button>
</div>
