<code style="background-color:rgba(0,0,0,.03); padding:3px;">Click on any item to contact us</code>
<mat-nav-list>
  <a mat-list-item href="mailto:sdsolare@gmail.com?subject=Equiry about Solar Products&body=Hi, I am interested to know more about Solar Products, and my contact number is ">
    <span mat-line>Email</span>
    <span mat-line>sdsolare@gmail.com</span>
  </a>
  <a href="tel:+918327797624" mat-list-item>
    <span mat-line>Call</span>
    <span mat-line>+91 83277-97624</span>
  </a>

  <a href="sms:+918327797624?body=Interested%20in%20your%20product" mat-list-item>
    <span mat-line>SMS</span>
    <span mat-line>+91 83277-97624</span>
  </a>
</mat-nav-list>
